<% include header.ejs %>
  <h2>
    <%= __('List of products')%>
  </h2>
  <p>
    <%= __('Products displayed')%>: <%= products.length %>
  </p>
  <ul>
    <% products.forEach(function(product){ %>
      <li>
        <h2>
          <%= product.name %>
        </h2>
        <img src="<%= product.photo %>" />
        <p class="price">
          <%= product.price ? `${__('Price')}: ${product.price}${__('€')}` : '' %>
        </p>
        <% if (fields !=='name' && fields !=='price' && fields !=='tags' ) { %>
          <p class="sale">
            <%= product.sale ? `${__('On sale')}: ${__('Yes')}` : `${__('On sale')}: No` %>
          </p>
          <% } %>
            <p class="tags">
              <%= product.tags ? `${__('Tags')}: ${product.tags.join(', ')}` : '' %>
        </p>
      </li>
      <% }); %>
    </ul>
<% include footer.ejs %>