<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <title>Products <%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>List of products</h2>
    <p>Products displayed: <%= products.length %></p>
    <ul>
      <% products.forEach(function(product){ %>
      <li>
        <h2><%= product.name %></h2>
        <img src="<%= product.photo %>" />
        <p><%= product.price ? `Price: ${product.price} €` : '' %></p>
        <% if (fields !== 'name' && fields !== 'price' && fields !== 'tags') {
        %>
        <p><%= product.sale ? 'On sale: Yes' : 'On sale: No' %></p>
        <% } %>
        <p><%= product.tags ? `Tags: ${product.tags.join(', ')}` : '' %></p>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
